#skill {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%

  );
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  padding: 5rem 0 10rem 5rem;
  margin-top: 0rem;
  margin-bottom: 5px;
  color: $white-color;
  

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .skill-wrapper {
    margin-top: 3.2 rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 5 rem;
      text-align: center;
    }

    &__text,
    a {
      font-size: 2.4rem;
      text-align: center;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
